@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Red+Hat+Display:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html {
  font-family: "Poppins", system-ui, sans-serif;
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  background: #f2f2f2;
}

@layer components {
  .dashboard-content-container {
    @apply bg-base-100 px-4 py-6 rounded-md shadow-md text-base-text;
  }
}

@layer components {
  .dashboard-card-container {
    @apply bg-gradient-to-br from-primary-violet to-violet-500 text-slate-200 rounded-xl shadow-md min-h-[300px] p-4 relative;
  }
}

@layer components {
  .title-sub-content {
    @apply font-bold text-primary-violet text-title-sub-section my-4;
  }
}

.player-wrapper {
  width: 100%;
  position: relative;
  /* Player ratio: 100 / (1280 / 720) */
  padding-top: 56.25%;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.content-container {
  margin: auto;
  max-width: 1200px;
}

/* @media (max-width: 885px) {
  .content-container {
    padding: 0 10px;
    overflow: hidden;
  }
} */
